body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  height: 10px;
    background:#2582fc;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

hr{
    opacity:0.5;
    margin:30px;
}

#globalConfigs{
    border:1px solid #ccc;
    padding:14px;
    background:#f8f8f8;
    broder-radius:10px;
}

.callout.error{
    background: red;
    color:#fff;
    font-weight:bold;
}

.callout.info{
    background-color: aliceblue;
    color:#2582fc;
   border:1px solid #d1d1d1;
    opacity:0.8;
}

#sidebar{
    position: relative;
}

.callout.info b{
    font-style:italic;
    color:#2582fc;
}

.config-option{
    padding:15px;
    border:none;
    background:#f7f7f7;
    border-radius:8px;
}

.homeLink {
    color:#fff;
}

.sec-panel{
    background:#f1f1f1; 
    border:1px solid #fefefe; 
    padding:10px;
    border-radius:7px
}

pre{
    margin-bottom:15px;
}

.global-configs{
    
}

.global-configs li{
    list-style: none;
    margin-bottom:30px;
}

.global-configs p{
    font-size:16px;
    color:#444;
}

.global-configs li h4{
    color:#2582fc;
    font-weight: bold;
    font-size:20px;
}

code{
    background:#f5f5f5;
    border: 1px solid #f5f5f5;
    color:#4C7AD5;
    font-size:15px;
    padding-left:0;
}

.middle{
    text-align:center;
}

h2{
    color:#2582fc;
}

.docs-nav{
    padding:5px;
    margin-bottom:25px;
}

.docs-nav > ul > li{
    margin-bottom: 7px;
}

.docs-nav > ul > li > a{
    color:#2582fc;
    font-size:15px;
}

.docs-nav > h4{
    text-transform: uppercase;
    font-size:13px;
    color:#2582fc;
    letter-spacing: 3px;
}

.docs-nav > h5{
    text-transform: uppercase;
    font-size:11px;
    color:#333;
    letter-spacing: 1px;
}

.docs-nav ul{
    list-style: none;
}

.docs-nav ul li{
    backgorund:#000;
}

.docs-body{
    padding:10px;
}

.docs-body h3{
    color:#2582fc;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.docs-body h3:hover{
    opacity:0.7;
}

#specs_1{
    position:relative;
}

.text-shadow{
    text-shadow: 3px 3px 2px rgba(0,0,0,0.2);
}

.border{
    border:1px solid #000;
}

#template-info{
    position:relative;
    z-index: 3;
    height: 100vh;
    width:100%;
    -webkit-box-shadow: 0px 0px 90px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 90px rgba(0,0,0,.8);
    box-shadow: 0px 0px 90px rgba(0,0,0,.8);
    overflow:hidden;
}

.white-overlay{
    background:#2582fc;
    background-size: 100% 100%;
    height:100vh;
    position:relative;
    margin-top:-103.3vh;
    opacity:0.8;
    z-index: -5;
}

.background-3{
    background-image: url('../uploads/img/mountain-3.jpeg');
    background-size: 100% 100%;
    height:100vh;
    width:100%;
    border:1px solid #000;
    position: relative;
    margin-top:-100.2vh;
    z-index: -9;
}

#content{
    position:relative;
    z-index: -10;
    height:100vh;
    min-height: 100vh;
    width:100%;
    overflow:hidden;
}

.blue-overlay{
    background:#2582fc;
    height:100vh;
    
    position:absolute;
    margin-top:-100vh;
    left:0;
    right:0;
    opacity:0.8;
    z-index: -9;
}

.background{
    background-image: url('../uploads/img/mountain-1.jpg');
    background-size: 120% 130%;
    height:100vh;
    position: absolute;
    left:0;
    right:0;
    margin-top: -100vh;
    z-index: -10;
    opacity:0.9;
}

.demo-btn{
    font-size:30px; 
    color:#fff;
    border:1px solid #fff; 
    margin-top:15%;
}

#specs_1{
    z-index:999;
}

#subContent{
    position: relative;
    z-index: 1;

    height:100vh;
    min-height: 100vh;
    width:100%;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 90px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 90px rgba(0,0,0,.8);
    box-shadow: 0px 0px 90px rgba(0,0,0,.8);
}

.grey-overlay{
    background:#0e0e0e;
    background-size: 100% 100%;
    height:100vh;
    position:absolute;
    left:0;
    right:0;
    margin-top:-100vh;
    opacity:0.8;
    z-index: -9;
}

.background-2{
    background-image: url('../uploads/img/mountain-2.jpg');
    background-size: 130% 120%;
    height:100vh;
    width:100%;
    position: absolute;
    /*-webkit-filter:blur(5px);*/
    margin-top:-100vh;
    z-index: -10;
}

.nav-list{
    list-style:none;
    background:#fff;
    margin-top:15px;
    
}
