
<div id="heade" class="title-bar" style="z-index:999">
    <div class="title-bar-left">
        <img src="uploads/img/unoIcon.png" alt="" style="height:30px;"/>
        <span class="title-bar-title">UnoCMS: <b>Documentation</b></span>
    </div>
    <div class="title-bar-right">
        <a type="button hollow">Sup</a>
    </div>
</div>
<div class="row">
    <div id="sidebar" class="small-3 columns hide-for-small-only">
        <div class="docs-nav">
            <h4>General</h4>
            <ul>
                <li><a ng-click="goToElement('generalStuff')">> Main Information.</a></li>
                <li><a ng-click="goToElement('globalConfigs')">> Global Configs.</a></li>
                <li><a ng-click="goToElement('callbackActions')">> Callbacks</a></li>
            </ul>
        </div>
        <div class="docs-nav">
            <h4>Routes</h4>
            <ul>
                <li><a ng-click="goToElement('bindTo')">> bindTo</a></li>
                                <li><a ng-click="goToElement('getObject')">> get_object</a></li>
                                <li><a ng-click="goToElement('getObjectBy')">> get_object_by</a></li>
                                <li><a ng-click="goToElement('insertFor')">> insertFor</a></li>
                                <li><a ng-click="goToElement('updateFor')">> updateFor</a></li>
                                <li><a ng-click="goToElement('deleteFrom')">> deleteFrom</a></li>
                                <li><a ng-click="goToElement('addMod')">> add_modifier</a></li>
                                <li><a ng-click="goToElement('getRelatives')">> get_relatives</a></li>
                                <li><a ng-click="goToElement('getEditor')">> get_editor</a></li>
                                                <li><a ng-click="goToElement('addUpload')">> add_upload</a></li>
                                <li><a ng-click="goToElement('setSpecials')">> set_specials</a></li>
                                <li><a ng-click="goToElement('parentDb')">> parent_db</a></li>
                                <li><a ng-click="goToElement('watcher')">> add_watcher</a></li>
                                <li><a ng-click="goToElement('updater')">> add_updater</a></li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="docs-body" <!--style="height:100vh; overflow-y:auto;"-->>
            <div id="generalStuff">
                <h3 id="general_docs"># General Configs</h3>
                <p><b style="color:#2582fc;">UnoCMS</b> takes away the heavy lifting of creating and defining hard-coded CRUD functions, and overall site/app structure. The framework uses 3 controllers: </p>
                <ul>
                    <li><h5>AppCtrl:</h5> <p>Initializes all global variables, functions, and pulls all the database data that presets the scope to use throughout your website, or application.</p></li>
                    <li><h5>Ctrl:</h5> <p>The main controller that handles all routing data and configurations. his dynamic controller constantly changes scope data and objects based on the route currently being viewed and the route's given configurations.</p></li>
                    <li><h5>MyCtrl:</h5><p>This controller is where you would place all custom scope functions/actions, variables, callbacks functions and so on.</p></li>
                </ul>
                <p>Uno uses <b>Firebase</b> for user authentication with internal site membership and also social network platforms. You can easily cchange the firebase url in the configs to your firebase app to initialize membershiping.</p>
<p class="callout text-center" style="color:#2582fc; font-weight:bold;">If a user is signed in, it would create a scope object called <em>currentUser</em>  which can be used for login checking purposes and other data related to a logged in user.</p>  
                <hr>
                <div id="callbackActions">
                    <h3># Callbacks</h3>
                    <p>Callback actions are used for route changes and when CRUD based actions have finished(defined in the route-data and route-configs section). Callbacks also use a single parameter within the function. Route callbacks pass the routes scope object as a parameter in order to use route data within the callback action. For CRUD action callbacks, you can specify which parameters you wish to include and use for the callback which will be stored in an array as the single parameter. You define callback actions in the <em>MyCtrl.js</em> file which will do what ever you wish. Example below</p>
                <pre><code>
                // Route Setup
                db: ['blog_posts', 'blog_comments'],
                dbRelations: [
                    blog_posts: ['blog_comments', 'parent_id']
                ],
                ...
                {
                    route: '/post:child'
                    template: 'views/post.html',
                    callback: 'postViewedCallback',
                    data: [
                        {bindTo_blog_posts: []},
                        {insertFor_blog_comments: [['parent_id', 'createdAt', 'comment', 'user_id', 'likes'], ['commentAdded', 'db', 'obj']]}
                    ]
                }
                
                // Callback Setup
                
                uno.controller('CustomCtrl', function(scope){
                    scope.postViewedCallback = function(params){
                        console.log(params); // logs the  scope object of the '/post' route data.
                    };
                    
                    scope.commentAdded(params){
                        console.log(params['obj']); // logs the object of the comment a user posts.
                        console.log(params['db']); // logs the database where the object is bound to in this case 'blog_comments'
                    };
                };
                
               
                
                </code></pre>
                <p class="callout" style="font-weight:bold; color:#2582fc;">Don't worry if this seems complicated as of now, all information related to route structure and data is listed in the <em>Routes</em> section.</p>
                </div>  <hr>
                <div id="globalConfigs">
                <h3># Global Configurations</h3>
                <p>Theres a number of configurations used to setup and manage your site/app's overall functionality and behavior depending on what you wish to accomplish. the base project setup when you first clone the repo, has preset configs already but below is a list of all of them.</p>
                <ul class="global-configs">
                    <li>
                        <h4>siteTitle: [title]</h4>
                        <p>This sets the title of the site to display in the header bar.</p>
                    
                    </li>
                    <li>
                        <h4>BACKEND_URL: [firebaseUrl]</h4>
                        <p>This is the url of your firebase backend used for handling user registration and login requests. You must create and provide your own social platform api keys if you wish to implement logging in with social networks.</p>
                    </li>
                    <li>
                        <h4>isStatic: [boolean]</h4>
                        <p>Determines if the site/app is static or not, if true then this would specify your creating a site that is basically information based with no backend (such as this one) and wouldn't need database configurations set.</p>
                    </li>
                    <li>
                        <h4>db: [database_tables]</h4>
                        <p>Assigns the databases which the site will use and manipulate. each database assigned will set a scope object by the name of the database table. Example below.</p>
                    <pre><code>
                    db: ['users', 'user_messages']
                    // scope object would be scope.users and scope.user_messages
                    </code></pre>
                    </li>
                    <li>
                        <h4>dbRelations: [parent_database: [child_database, column]]</h4>
                        <p>Sets a relationship between databases where the <b>child_database</b>'s <em>relative_column</em> is equal to the <b>parent_database</b>'s id. Example Below</p>
                    <pre><code>
                    db: ['users', 'user_messages'],
                    dbRelations: [users: ['users_messages', 'user_id']]
                    </code></pre>
                        <p class="callout error text-center" style="color:#fff; font-weight:bold;">Uno uses static database columns, and dynamic variables throughout the framework such as <em>parent_id</em>, <em>user_id</em>, and <em>createdAt</em>(for time). The <em>user_id</em> column relates to the users id (obviously right?)  and when using it in <em>insertFor</em> route-actions or even <em>updateFor</em>, it automatically pulls the currently logged in user's id and sets it in the query (More Info on insertFor and updateFor route-configs below). As for <em>parent_id</em>, this is the retrieves and sets the value of a routes <em>:child</em> parameter when using it in <em>insertFor</em> and <em>updateFor</em> actions. You must include these columns in your database structure in order for the dynamics to perform properly.</p>
                    </li>
                    <li>
                    <h4>editorCols: [columns]</h4>
                        <p>This sets the column names of databases which will are used for editors. Example below</p>
                    <pre><code>
                    db: ['blog_posts'],
                    editorCols: ['body'] // the 'body' field of blog_posts
                    </code></pre>
                        <p class="callout error text-center" style="font-weight:bold; color:#fff">All editor columns in the database must be set to <b>LONGTEXT</b> instead of <b>nvarchar</b> due to the html input which can take up alot of characters.</p>
                    </li>
                    <li>
                        <h4>modRanks: [ranks]</h4>
                        <p>This will set the user ranks which are moderator based. All users with ranks listed ithin these will set the scope object <em>isAdmin</em> to true for the logged in user and allow them to access special parts of your site or app depending on what you want. Example below.</p>
                        <pre><code>
                        modRanks: ['a', 'mod'] // a for administrator :)
                        </code></pre>
                    </li>
                    <li>
                        <h4>strictForGuests: [boolean]</h4>
                        <p>Setting this to true will initialize a strict systemto limit guests to seeing content based on the <b>strictLevel</b> config listed below</p>
                    </li>
                    <li>
                        <h4>strictLevel: [level]</h4>
                        <p>If you have <b>strictForGuests</b> set to true, this will define how strict you want it. the levels are <b>light</b>, <b>medium</b>, and <b>heavy</b>, based on the setting, it will limit users to how much content they can filter through as a guest when using the <em>set_filter</em> route-data config. More info on <em>set_filter</em>is listed below.</p>
                    </li>
                    <li>
                        <h4>global_data: [data_options]</h4>
                        <p>This behaves just as route-data configs but sets is used on a global scale rather than route based. See the route configurations below to learn the options available for use.</p>
                    </li>
                </ul>
                </div>
            </div>
            <div class="callout">
                <h3># Route-Data Callbacks</h3>
                <p>Route callbacks are actions you create that would be triggered after a certain action was called in your route_data configs.</p>
                <p>For Example:</p>
                <pre><code>
                db: ['blog_posts'],
                ...
                data:[
                    {get_blog_posts_updateEditor: ['postBodyField', ['title', 'picture', 'body', 'user_id', 'excerpt', 'category'], ['postUpdated', 'obj', 'user_id']]},
                ]
                </code></pre>
            </div><hr>
            <h3 id="routeDataDocs"># Route Configurations</h3>
            <div id="bindTo" class="config-option">
                <code>bindTo_[table_name]: []</code>

                <p>This option binds the route/page to a specific object from the given database based on the route id parameter. if you specify any relationships the table has with other tables, it would automatically assign and pull the children based on your <code>dbRelations: []</code> settings.</p>
                <p styl="font-style:italic;">Example:</p>
                <pre><code>
                db: ['blog_posts'],
                dbRelations: [
                    {blog_posts: ['blog_comments', 'parent_id']}
                ],

                ...
                {
                    route: '/postDetail/:child',
                    template: 'views/specificPostTemplate.html',
                    ...
                    data: [
                        {bindTo_blog_posts: []}
                    ]
                }
                </code></pre>
                <p style="font-size:16px;">This route would pull the object from the <b>'blog_posts'</b> table in the database with the id that matches the route's <em>:child</em> parameter and asign it to the scope object of <em>'obj'</em>. All data from the <b>'blog_comments'</b> database with the <b>'parent_id'</b> column equal to the object's id would be set to the scope object of <em>'blog_comments_children'</em> which can be used to display any comments of a particular post in the view.</p>
            </div>
                  <hr>
        <div id="getObject" class="config-option">
            <code>get_[table_name]: [dynamic_param, column, dynamic_value, isList]</code>
            <p>This option gets the object or objects from the database of <b>table_name</b> where the column is equal to the <b>dynamic_value</b> given and sets the data to the scope object defined in the <em>dynamic_param</em> parameter. Based on the <em>isList</em> parameter, the data will set the scope object in an array format if set to true and singular object format if set to false. </p>
            <p>**NOTE** : if the <b>dynamic_param's</b> value is set to <em>parent</em>, the column, value, and isList parameters are not needed. This it will set a scope object called <em>'obj'</em> to the object in the database with the id equal to the routes id param which can be used in the view. More detail on dynamic parameters are listed <a href="#">here</a></p>
            <p>Also If the table you wish to get a parent object from also has child relations to other tables, use the <b>bindTo</b> method instead.</p>
            
            <p>Example: <b>Without Dynamic Params</b></p>
            <pre><code>
            db: ['blog_posts'],
            
            ...
            {
                route: '/myPosts',
                template: 'views/myPostsTemplate.html',
                ...
                data: [
                    {get_blog_posts: ['myPosts', 'user_id', 1, true]}
                ]
            }
            </code></pre>
            <p style="font-size:16px;">
                This will pull all the <em>blog_posts</em> objects from the database with the <em>user_id</em> column value of 1. Because the <b>isList</b> parameter is set to true, it will return them in an array format which can be looped through in the view for instance:
            <pre><code class="html">
            &lt;div ng-repeat="post in myPosts"&gt;
                &lt;h1&gt; post.user_id &lt;/h1&gt;
            &lt;/div&gt;
            </code></pre>
            </p>
            <p>Example: <b>With Dynamic Params</b></p>
            <pre><code>
            db: ['blog_posts'],
            
            ...
            {
                route: '/myPosts/:child',
                template: 'views/myPostsTemplate.html',
                ...
                data: [
                    {get_blog_posts: ['parent']}
                ]
            }
            </code></pre>
            <p>
                This will simply get the <em>blog_post</em> object from the database with the id that equals the route's <em>:child</em> parameter for instance:
                <pre><code>127.0.0.1/#/myPosts/1</code></pre>
            </p>
        </div>
        <hr>
        <div id="getObjectBy" class="config-option">
            <code>get_[table_name]_by: [table_column, obj, obj_column, assigned_obj]</code>
            <p>This option gets data from the database table given by <b>table_name</b> where the data's <em>table_column</em> property equals the <b>obj</b>'s <em>obj_column</em> value. and then sets the results in a scope object of the value given in the <em>assigned_obj</em> parameter.</p>
            
            <p>Example: <b>Using Dynamic Parameters</b></p>
            <pre><code>
            db: ['blog_posts', 'blog_comments'],
            
            ...
            
            {
                route: '/myPostActivity:child',
                template: 'views/myPostActivity.html',
                
                ...
                
                data: [
                    {get_blog_posts: ['userPosts', 'user_id', 'parent', true]},
                    {get_blog_comments_by: ['parent_id', 'usersPosts', 'id', 'userComments']}
                ]
            }
            </code></pre>
            <p style="font-size:16px;">This will create a list of posts from the <b>blog_posts</b> data table where their <em>user_id</em> field is equal to the route's <em>:child</em> parameter and asign the data to the scope object  called <b>userPosts</b>. From that it will pull all of the comments from the <b>blog_comments</b> table where the <em>parent_id</em> field is equal to the id of each of the <em>userPosts</em> objects, created a dynamic array of data and storing it in a scope object called <b>userComments</b>.</p>
        </div>
        <hr>
        <div id="insertFor" class="config-option">
            <code>insertFor_[table_name]: [fields_array, callback]</code>
            <p style="font-size:16px;">This option creates a database insertion action. You can create and assign callbacks to do custom actions after the data has been inserted successfully. Click <a ng-href="#">here</a> for more detail on custom callbacks.</p>
            
            Example:
            <pre><code>
            db: ['blog_posts'],
            
            ...
            
            {
                route: '/create_post',
                template: 'views/create_post.html',
                
                ...
                
                data: [
                    {insertFor_blog_posts: [['title', 'body', 'user_id', 'createdAt'], ['postCreated', 'obj']]}
                ]
            }
            </code></pre>
            <pre><code>
            &lt;form&gt;
                &lt;input type="text" ng-model="obj.title" />
                &lt;textarea ng-model="obj.body">&lt;/textarea>
                &lt;input type="button" ng-click="blog_posts_inserter(obj)" />
            &lt;/form>
            </code></pre>
            <p>This will create a scope object function called <b>blog_posts_inserter</b> which takes only the object your trying to insert as a parameter.</p>
            <p>***NOTE*** : createdAt & user_id wouldnt need form fields because they are static_parameters. Click <a ng-href="#">here</a> for more detail on static parameters</p>
        </div>
        <hr>
        <div id="updateFor" class="config-option">
            <code>updateFor_[table_name]: [fields_array, callback]</code>
            <p>
            This option creates a database updater action. You can create and assign callbacks to do custom actions after the data has been inserted successfully. Click <a ng-href="#">here</a> for more detail on custom callbacks.
            </p>
                        Example:
            <pre><code>
            db: ['blog_posts'],
            
            ...
            
            {
                route: '/create_post',
                template: 'views/create_post.html',
                
                ...
                
                data: [
                    {updateFor_blog_posts: [['title', 'body', 'user_id', 'createdAt'], ['postCreated', 'obj']]}
                ]
            }
            </code></pre>
            <pre><code>
            &lt;form&gt;
                &lt;input type="text" ng-model="obj.title" />
                &lt;textarea ng-model="obj.body">&lt;/textarea>
                &lt;input type="button" ng-click="blog_posts_updater(obj)" />
            &lt;/form>
            </code></pre>
            <p>This will create a scope object function called <b>blog_posts_updater</b> which takes only the object your trying to insert as a parameter.</p>
            <p>***NOTE*** : createdAt & user_id wouldnt need form fields because they are static_parameters. Click <a ng-href="#">here</a> for more detail on static parameters</p>
        </div>
        <hr>
        <div id="deleteFrom" class="config-option">
            <code>deleteFrom_[table_name]: [collection, callback]</code>
            <p>
                This option creates a database object deletion action and also removes all child data of an object based on the dbRelations settings. You can create and assign callbacks to do custom actions after the data has been inserted successfully. Click <a ng-href="#">here</a> for more detail on custom callbacks.
            </p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts', 'blog_comments'],
            dbRelations: [
                {blog_posts: ['blog_comments', 'parent_id']}
            ],
            ...
            
            {
                route: '/postDetail:child',
                template: 'views/postDetail.html',
                
                ...
                
                data: [
                    {bindTo_blog_posts: []},
                    {deleteFrom_blog_posts: [undefined, ['postDeleted', 'obj']]}
                ]
                
            }
            </code></pre>
            <pre><code>
            &lt;a ng-click="blog_posts_remover(obj.id)>&lt;/a>
            </code></pre>
            <p>This will make a link that would delete the parent object from <b>blog_posts</b> data table along with all of the <b>blog_comments</b> data that is a child of that particular post because of the <em>dbRelations</em> setting and then execute the custom scope <b>postDeleted</b> callback function which can be programmed customarily.  Click <a ng-href="#">here</a> for more detail on custom callbacks.</p>
        </div><hr>
        <div id="addMod" class="config-option">
            <code>add_[table_name]_modifier: [column, operator, callback]</code>
            <p>This option creates a modifier action that modifys the numeric values of specific object property's.</p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts'],
            
            ...
            
            {
                route: '/postDetail:child',
                template: 'views/postDetail.html',
                ...
                data: [
                    {bindTo_blog_posts: []},
                    {add_blog_posts_modifier: ['likes', '+', ['postLikedCallback', 'obj']]}
                ]
            }
            </code></pre>
            <pre><code>
            &lt;a ng-click="blog_posts_likes_mod(obj.likes, 1)">Like Post&lt;/a>
            </code></pre>
            <p>This link will add 1 to the total of the post's likes due to the <em>likes</em> property/column given and the <b>+</b> operator defined in the config. the operator can ofcourse be subtraction, division, and multiplication and the value given in the link can be changed to say add 10 to the total of likes if wanted.</p>
            
        </div><hr>
        <div id="getRelatives" class="config-option">
            <code>get_parent_relatives: [column, assign_obj, db_table]</code>
            <p>This option gets all of the <em>db_table</em> object's where the <b>column</b>'s data is equal too or shares similarity with the parent object of the route.</p>
            <p>Example: </p>
            <pre><code>
            db: ['blog_posts']
            ...
            {
                route: '/postDetail:child',
                template: 'views/postDetail.html',
                ...
                data: [
                    {bindTo_blog_posts: []},
                    {get_parent_relatives: ['tags', 'related_posts', 'blog_posts']}
                ]
            }
            </code></pre>
            <p>This will get all <b>blog_posts</b> objects which have the same tags or share similarity which the parent <b>blog_posts</b> object and then store them in a scope object called <b>related_posts</b> as an array.</p>
        </div><hr>
        <div id="getEditor" class="config-option">
            <code>get_[table_name]_editor: [editorId, fields, callback]</code>
            <p>This option initializes the editor actions for the text editor based on the <em>editorId</em> given. The editor handles inserting and updating actions without the need for creating <b>insertFor</b> and <p>updateFor</p> configs.</p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts'],
            editorCols: ['body'],
            ...
            {
                route: '/createPost',
                template: 'views/createPostView.html',
                ...
                data: [
                    {add_blog_posts_insertEditor: ['postBodyField', ['title', 'tags', 'createdAt', 'body', 'user_id'], ['postCreated', 'obj']]}
                ]
            }
            </code></pre>
            <pre><code>
                &lt;form enctype="multipart/form-data">
                    &lt;input type="text" placeholder="Title" ng-model="obj.title"/>
                    &lt;input type="text" placeholder="Tags (seperate with commas)" ng-model="obj.tags" />
                    &lt;input type="text" placeholder="Category" ng-model="obj.category" />
                    &lt;u-layout l="small-12" ng-if="currentUser">
                        &lt;u-editor type="l" eid="postBodyField">&lt;/u-editor>
                    &lt;/u-layout>
                &lt;/form>
            </code></pre>
            <p>This will allow the editor's actions from the <b>u-editor</b> directive to be used within as long as the editor's id matches the id from the configs which in this case in <b>postBodyField</b>. This will allow for a post to be created and added to the <b>blog_posts</b> database.</p>
            <p class="callout primary"><b>**NOTE**:</b> columns within the <b>editorCols</b> config doesnt have to be added to the form setup because the columns specified within the <em>editorCols</em> config gets recognized automatically. If you wish to creat and update action based editor, simply replace <em>insert</em> with <em>update</em> so it looks like <code>add_blog_posts_updateEditor: [...]</code>.</p>
        </div><hr>
        <div id="setFilter" class="config-option">
            <code>set_filter: [obj, amountPerPage, pageNumber]</code>
            <p>This option adds a view limiter to the <b>obj</b> which shows a certain amount of objects in a loop per "page". The amount of objects it shows is the <em>amountPerPage</em> * <em>pageNumber</em>.</p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts'],
            ...
            {
                route: '/allPosts',
                template: 'views/allPosts.html',
                ...
                data: [
                    {set_filter: ['blog_posts', 3, 1]}
                ]
            }
            </code></pre>
            <p>This will set the <b>blog_posts</b> scope object to only show 3 posts per page. If the <em>pageNum</em> variable was set to say 2, it would show 6 posts. the html for this example would look like this:</p>
            <pre><code>
            &lt;div ng-repeat="posts in blog_posts | limitTo: blog_posts_limit()">
                &lt;h1>post.title&lt;/h1>
            &lt;/div>
            &lt;a ng-if="hasMore_blog_posts()" ng-click="show_blog_posts()">View More&lt;/a>
            &lt;a ng-if="!hasMore_blog_posts()" ng-click="hide_blog_posts()">Hide&lt;/a>
            </code></pre>
            <p style="margin-top:22px;">Since the <em>amountPerPage</em> is set to 3, the <em>show_blog_posts()</em> function would reveal 3 more posts and add them to the list. the <em>hide_blog_posts()</em> function simply hides them all from view. Using the <em>hasMore_blog_posts()</em> function, this is possible to dynamically list <b>blog_posts</b> items.</p>
        </div><hr>
        <div id="addUpload" class="config-option">
            <code>add_upload: [function, directory, preview_obj]</code>
            <p>This option creates a file upload action for uploading files to the specified destination.</p>
            <p>Example:</p>
            <pre><code>
            db: ['users'],
            ...
            {
                route: '/manageProfile:child',
                template: 'views/manageProfile.html',
                ...
                data:[
                    {get_users: ['parent']},
                    {set_specials: ['default']},
                    {updateFor_users: [['display_name', 'password', 'picture'], ['userUpdated', 'db', 'obj', 'id', 'user_id']]},
                    {add_upload: ['uploadPicture', 'media/img/prof_pics/', 'thumb']}
                ]
            }
            </code></pre>
            <p style="margin-top:22px;">The <em>uploadPicture</em> function would upload a profile picture to the directory given and then assign the file url to the scope object of <em>thumb</em> which can then be used to preview the newly upload image. The html for this route would look like this:</p>
            <pre><code>
            &lt;form>
                &lt;h5>Display Name&lt;/h5>
                &lt;input type="text" ng-model="obj.display_name" />
                &lt;div class="callout">
                    &lt;img src="thumb" alt="" width="170" height="170" class="thumbnail"/>
                    &lt;u-upload action="uploadPicture" file="image/*">&lt;/u-upload>
                    &lt;div ng-show="uploadPicture_isUploading">&lt;span style="height:20px; color:#000; width: {{progress}}%">&lt;/span>&lt;/div>
                &lt;/div>
                &lt;input type="button" class="hollow button" ng-click="users_updater(obj)" value="Save Changes"/>
            &lt;/form>
            </code></pre>
            <p style="margin-top:20px;"></p>
        </div><hr>
        <div id="setSpecials" class="config-option">
            <code>set_specials: ['default']</code>
            <p>This option sets all static scope objects to the parent object's value. Using the example above, <b>set_specials</b> would set the users <em>picture</em> property/field to the scope object <em>thumb</em> which is usefull for routes that are used for editing and managing objects such as the <em>manageProfile</em> route above, showing the pre-existing profile picture of a user then changing the value of the user's picture once a new one is uploaded. If the parent object has a column which uses the editor (defined in the <em>editorCols</em> config), this also sets the scope object <em>inputText</em>, which the editor is bound to, to the value of the parent objects <em>editorCol</em> column. Below shows the static properties and scope objects that are assigned.</p>
        
            <ul style="list-style:bullet;">
                <li>scope.inputText = obj.[editorCol]</li>
                <li>scope.thumb = obj.picture</li>
                <li>scope.video = obj.video</li>
                <li>scope.audio = obj.audio</li>
                <li>scope.file obj.file</li>
            </ul>
        </div><hr>
        <div id="parentDb" class="config-option">
            <code>parent_db: [table_name]</code>
            <p>This option is used to set the parent object of a route from the database defined in <b>table_name</b> where it's id equals the <em>:child</em> route parameter. (Yes, family trees exist in programming.)</p>
            <p>Example:</p>
            <pre><code>
            db: ['forum_topics', 'forum_boards'],
            dbRelations: [
                forum_boards: ['forum_topics', 'preant_id']
            ],
            ...
            {
                route: '/createTopic:child',
                template: 'views/createTopic.html',
                ...
                data:[
                    {parent_db: ['forum_boards']},
                    {get_forum_topics_insertEditor: ['topicBodyField', ['parent_id', 'title', 'body', 'user_id', 'createdAt'], ['topicAdded', 'db', 'obj', 'user_id']]}
                ]
            }
            </code></pre>
            <p style="margin-top:22px;">
                The <b>parent_db</b> option will set the scope object <em>parent_obj</em> to the <em>forum_boards</em> object where the id is equal to the route's <em>:child</em> parameter. So when the user goes to fill out the form to create a topic,the topic's parent would be the <b>forum_board</b> object which is set based on the route as traditional forums are.
            </p>
        </div><hr>
        <div id="watcher" class="config-option">
            <code>add_[table_name]_watcher: []</code>
            <p>This option initializes a constant database watcher that pulls new data from the database where the <b>table_name</b> is specified and adds it to the scope datbase object, resulting in a realtime data structure.</p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts'],
            ...
            {
                route: '/blog_feed',
                template: 'views/blog_feed.html',
                ...
                data: [
                    {set_filter: ['blog_posts', 3, 1]},
                    {add_blog_posts_watcher: []}
                ]
            }
            </code></pre>
            <p style="margin-top:22px;">The route will initialize a watcher over the <b>blog_posts</b> database along with a filter to only display 3 posts at a time. When a new post is created by a user the watcher will notice a new data oject has been added to the database and then add it to the database's scope object of <b>blog_posts</b>, making realtime syncronization easy to enable particular routes.</p>
        </div><hr>
        <div id="updater" class="config-option">
            <code>add_[table_name]_updater: []</code>
            <p>This option initializes a constant updater for all objects of a database defined in <b>table_name</b>. When a object is updated or deleted, the updater will automatically update the object's properties or even remove it from the scope if its been deleted all in realtime.</p>
            <p>Example:</p>
            <pre><code>
            db: ['blog_posts'],
            ...
            {
                route: '/postView:child',
                template: 'views/postView:child',
                ...
                data: [
                    {bindTo_blog_posts: []},
                    {add_blog_posts_updater: []},
                ]
            }
            </code></pre>
            <p style="margin-top:22px;">
                If a user, say for instance, changes the title of the <b>blog_posts</b> object or even the body, the updater would pull the changes and apply them to the object. So users can see changes and fixes in realtime.
            </p>
</div>
</div>
</div>
</div>