<div class="homeWrapper animated fadeIn">
<div id="content">
    <div id="logoHeading" class="row align-middle border" style="height:100vh">
        <div class="small-12 columns">
            <div class="middle">
                <div id="titleText">
                <!--<h1 style="font-size:150px; color:#fff; ">UnoCMS</h1>-->
                <img style="width:300px;" src="uploads/img/unoIcon.png" />
                    <h1 style="font-size:90px; color:#fff; ">UnoCMS</h1>
                    <h3 style="color:#ADD1FF; font-weight:bold;letter-spacing:10px; font-size:17px;">Built with AngularJS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="background"></div>
    <div class="blue-overlay"></div>
</div>
<div id="subContent">
    <div class="middle">
        <div id="specs_1">
            <div class="row align-middle" style="height:100vh">
                <div class="columns">
                    <i style="font-size:170px; color:#fff;" class="fi-wrench text-shadow"></i>
                    <p style="color:#fff; font-size:37px;" class="text-shadow">Dev-Friendly</p>
                    <p style="color:#fff; font-size:20px;" class="text-shadow">Forget about heavy CRUD development and route structure Uno has successfully tooken the load of backend programming off your shoulders.</p>
                </div>
                <div class="columns">
                    <i style="font-size:170px; color:#fff;" class="fi-results text-shadow"></i>
                    <p style="color:#fff; font-size:37px;" class="text-shadow">Realtime Sync</p>
                    <p style="color:#fff; font-size:20px;" class="text-shadow">Built-in realtime synchronization at your disposal for advanced apps and websites totally entirely centered on your database and end-goal!</p>
                </div>
                <div class="columns">
                    <i style="font-size:170px; color:#fff;" class="fi-like text-shadow"></i>
                    <p style="color:#fff; font-size:37px;" class="text-shadow">Dynamic Data</p>
                    <p style="color:#fff; font-size:20px;" class="text-shadow">Configure your page's data dynamically without the need of extra programming and debugging. Our routing system keeps data in sync without the headache of error.</p>

                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <a ng-href="http://unodemo.flypapermagazine.com/#/home" style="font-size:30px; color:#fff; border:1px solid #fff; margin-top:-20%;" class="button hollow large">DEMO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-overlay"></div>
    <div class="background-2"></div>
</div>
<div id="template-info">
    <div class="middle">
        <div id="infoTab" class="row align-middle border" style="margin-bottom:30px; height:100vh">
            <div class="small-12 columns" style="margin-bottom:-380px;">
                <h1 style="color:#fff; font-size:70px;" class="text-shadow">And Much More!</h1>
<p style="color:#fff; font-size:20px;" class="text-shadow"><b>Get Involved</b> by cloning the repository and checkout UnoCMS for yourself! We have a detailed documentation page that goes every every feature and option UnoCMS has to offer along with other information to improve development time and quality.</p>
            
            </div>
            <div class="columns">
                <div id="docs-tab">
                    <a ng-href="#/docs"><i class="fi-clipboard text-shadow" style="font-size:190px; color:#fff;"></i></a>
                <h2 style="color:#fff" class="text-shadow">Docs</h2>
                </div>
            </div>
            <div class="columns">
                <div id="docs-tab">
                    <a ng-href="#/docs"><i class="fi-social-github text-shadow" style="font-size:190px; color:#fff;"></i></a>
                <h2 style="color:#fff" class="text-shadow">Repo</h2>
                </div>
            </div>
            <div class="columns">
                <div id="repo-tab">
                <a ng-href="https://github.com/dsykex/UnoCMS"><i class="fi-download text-shadow" style="font-size:190px; color:#fff;"></i></a>
                <h2 style="color:#fff" class="text-shadow">Downloads</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
    <div class="background-3"></div>
</div>
<script>
    var paralax = function(){
    var element = document.getElementById('infoTab');
    var heading = document.getElementById('logoHeading');
    var ele = element.getBoundingClientRect();
    var logoHeader = heading.getBoundingClientRect();
        console.log(ele.top + '-Doc Tab :)');
        console.log(logoHeader.top + '-Logo Tab');
        console.log('***'+document.documentElement.clientHeight+'***');
        
        if(logoHeader.top == 0){
            console.log('TOP OF THE CROP!!');
        }
        
        var ypos = window.pageYOffset;
        var content = document.getElementById('content');
        var subContent = document.getElementById('subContent');
        var titleText = document.getElementById('titleText');
        var tempInfo = document.getElementById('template-info');
        var specs_1 = document.getElementById('specs_1');
        var docs = document.getElementById('docs-tab');
        var repo = document.getElementById('repo-tab');
        
        content.style.top = ypos * 0.7 + 'px';
        console.log(ypos);
        
        if(ypos >= 70){
            titleText.classList.add('animated');
            titleText.classList.add('bounceOut');
        }
        
        if(ypos <= 210){
            titleText.classList.remove('animated');
            titleText.classList.remove('bounceOut');
             titleText.classList.add('animated');
            titleText.classList.add('bounceIn');
        }
        
        if(ypos >= 905){
            content.classList.add('animated');
            content.classList.add('fadeOut');
        }
        if(ypos <= 700){
            content.classList.remove('animated');
            content.classList.remove('fadeOut');
            content.classList.add('animated');
            content.classList.add('fadeIn');
        }
        
        if(ypos <= 650){
    
            specs_1.classList.remove('animated');
            specs_1.classList.remove('bounceInDown');
            specs_1.classList.remove('bounceOut');
            specs_1.classList.add('animated');
            specs_1.classList.add('bounceOut');
        }
        
        if(ypos >=  650 && ypos <= 1480){
           
            specs_1.classList.remove('animated');
            specs_1.classList.remove('bounceInDown');
            specs_1.classList.remove('bounceOut');
            specs_1.classList.add('animated');
            specs_1.classList.add('bounceInDown');
        }
        
        if(ypos >= 1480){

            specs_1.classList.remove('animated');
            specs_1.classList.remove('bounceInDown');
                        specs_1.classList.remove('bounceOut');
            specs_1.classList.add('animated');
            specs_1.classList.add('bounceOut');
        }
        
        if(ypos <= 1600){
            docs.classList.remove('animated');
            docs.classList.remove('bounceInLeft');
            docs.classList.remove('bounceOutLeft');
            docs.classList.add('animated');
            docs.classList.add('bounceOutLeft');
            
            repo.classList.remove('animated');
            repo.classList.remove('bounceInRight');
            repo.classList.remove('bounceOutRight');
            repo.classList.add('animated');
            repo.classList.add('bounceOutRight');
        }
    
        if(ypos >= 1600){
            repo.classList.remove('animated');
            repo.classList.remove('bounceInRight');
            repo.classList.remove('bounceOutRight');
            repo.classList.add('animated');
            repo.classList.add('bounceInRight');
            
            docs.classList.remove('animated');
            docs.classList.remove('bounceInLeft');
            docs.classList.remove('bounceOutLeft');
            docs.classList.add('animated');
            docs.classList.add('bounceInLeft');
        }
    }
    window.addEventListener('scroll', paralax);
</script>
</div>